* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f1f4f9;
}

.parent {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: #fff;
  max-width: 30vw;
  min-width: 20vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.card .top {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 3px 30px;
}
.card .top button {
  background-color: #59d28e;
  color: #fff;
  padding: 5px 14px;
  border: none;
  border-radius: 15px;
}

.card .top p {
  font-size: 18px;
  font-weight: 500;
  color: #3c3e44;
}

.card .center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
}

.card .center .userImg {
  width: 100px;
  border-radius: 50%;
  padding: 3px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card .center h3 {
  color: #3c3e44;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.card .center h5 {
  color: #45474f;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.card .center-work {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
.card .center-work .icon {
  width: 15px;
}
.card .center-work span {
  font-size: 0.8rem;
  font-weight: 500;
}

.card .center .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 18px;
}

.card .center .skills .skills-btn {
  background-color: #fff;
  padding: 5px 12px;
  border-radius: 15px;
  border: 1px solid #dddbdf;
}

.card .center p {
  color: #45474f;
  flex-wrap: wrap;
  text-align: center;
}

.card .bottom {
  height: 8vh;
  min-width: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card .bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  border-top: 2px solid #c9cacea4;
}

.card .bottom:hover {
  background-color: #56a8fe;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.card .bottom p {
  border: none;
  background: transparent;
}

.bottom:hover p {
  color: #fff;
  transition: 0.5s ease-in;
}

.card .bottom:hover::before {
  opacity: 0;
}
