.counter-container {
  height: 200px;
  background-color: #cfcce7;
  padding: 20px;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6vh;
}

#para {
  font-size: 2.2rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(1, 3, 3);
}
#btn {
  font-size: 1rem;
  width: 30vh;
  height: 5vh;
  border-radius: 1.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#btn:hover {
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}
