.user-container {
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 1.5rem;
  margin: 1rem;
}

#user-img {
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
