* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.grandParent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 60px;
  display: flex;
  justify-content: center;
}

.parent {
  width: 100%; /* ⭐ IMPORTANT */
  /* max-width: 1200px; ⭐ Centered layout */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  height: 350px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.logo-box img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.top button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.top button:hover {
  color: #7d7d7d;
  border: 1.3px solid #7d7b7b;
  transition: all 0.5s ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7cb;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.bottom button:hover {
  border: 1px solid black;
  color: black;
  background-color: #fff;
  transition: all 0.5s ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 12px;
  color: #8b8b8b;
}
